<section class="hero">
  <div class="container">
    <h2 class="hero-title">
      Treat yourself or a loved one to <br />
      our finest ingredients for a moment of pure delight!
    </h2>

    <div class="hero-btns">
      <ul class="hero-btn-list">
        <li><button class="btn-orange" type="button">Buy now</button></li>
        <li>
          <button class="btn-dark" type="button">How it&#8217;s made</button>
        </li>
      </ul>

      <div class="hero-scroll-btn">
        <p class="hero-scroll-label">scroll down</p>
        <a href="#footer">
          <svg class="hero-scroll-icon" width="28" height="28">
            <use href="../img/icons.svg#icon-scroll"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
