<section class="hero">
  <div class="container">
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>

    <ul>
      <li><button type="button">Buy now</button></li>
      <li><button type="button">How it&#8217;s made</button></li>
    </ul>

    <div>
      <p>scroll down</p>
      <a href="#footer">
        <svg class="hero-scroll-icon" width="28" height="28">
          <use href="../img/icons.svg#icon-scroll"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
