<section class="how-made-section section">
    <div class="how-made-container container">
        <h2 class="how-made-title">HOW IT’S <span class="how-made-title-second">MADE?</span></h2>
        <div class="how-made-tumb">
        <img class="how-made-img" srcset="
        ../img/How-it-made/image-video-desktop.jpg 600w,
        ../img/How-it-made/image-video-tablet.jpg 614w,
        ../img/How-it-made/image-video-mobile.jpg 335w,
        ../img/How-it-made/image-video-desktop@2x.jpg 1200w,
        ../img/How-it-made/image-video-tablet@2x.jpg 1228w,
        ../img/How-it-made/image-video-mobile@2x.jpg 670w
        " sizes="(min-width: 1200px) 600px, (min-width: 768px) 614px, (min-width:375px) 335px, 100vw"
            src="../img/How-it-made/image-video-mobile.jpg">
    </div>
        <div class="how-made-try">
            <h3 class="how-made-subtitle">Try our chocolates today and discover the perfect balance of flavor</h3>
            <ul class="how-made-list">
                <li class="how-made-item">
                    Heat the milk in a saucepan without bringing it to a boil. Add sugar and
                    cocoa powder.
                </li>
                <li class="how-made-item">
                    At the same time, prepare a water bath. Melt the butter on it.
                </li>
                <li class="how-made-item">
                    "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                    silicone spatula so that the mass becomes uniform and silky.
                </li>
                <li class="how-made-item">
                    Heat the mixture over low heat, letting it barely boil.
                </li>
                <li class="how-made-item">
                    Pour the chocolate into special containers (can be replaced with ice
                    molds). Allow to cool and harden.
                </li>
            </ul>
        </div>
    </div>
</section>