<div class="review-backdrop" data-modal>
  <div class="review-modal">
    <button class="review-close-btn" type="button" data-modal-close>
      <svg class="review-close-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="md-review-title">
      leave a review about <span>our chocolate</span>
    </h2>
    <form name="md-review-form">
      <input
        class="md-review-input"
        type="text"
        name="name"
        placeholder="Name"
        required
      />
      <input
        class="md-review-input"
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <input
        class="md-review-input"
        type="tel"
        name="phone"
        placeholder="Phone number"
        required
      />
    </form>
  </div>
</div>
