<section class="product-container container">
  <h2 class="product-title">
    our <span class="product-title-color">products</span>
  </h2>
  <ul class="product-list">
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card1.jpg "
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">orange</h2>
        <p class="product-descr">Dark chocolate</p>
        <button class="product-price" type="button">45 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card2.jpg "
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">APPLE&CRANBERRY</h2>
        <p class="product-descr">Milk chocolate</p>
        <button class="product-price" type="button">50 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card3.jpg "
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">lime&sea salt</h2>
        <p class="product-descr">Dark chocolate</p>
        <button class="product-price" type="button">66 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card4.jpg"
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">pineapple</h2>
        <p class="product-descr">Dark chocolate</p>
        <button class="product-price" type="button">54 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card5.jpg "
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">Classic</h2>
        <p class="product-descr">Milk chocolate</p>
        <button class="product-price" type="button">45 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card6.jpg"
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">honey</h2>
        <p class="product-descr">Milk chocolate</p>
        <button class="product-price" type="button">50 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card7.jpg"
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">Roasted fruits</h2>
        <p class="product-descr">Dark chocolate</p>
        <button class="product-price" type="button">66 UAH</button>
      </div>
    </li>
    <li class="product-item">
      <div class="product-thumb">
        <img
          class="product-image"
          src="../img/our-products/card8.jpg"
          alt="Orange chokolate image"
          width="230"
        />
      </div>
      <div class="product-content">
        <h2 class="product-subtitle">Classic</h2>
        <p class="product-descr">White chocolate</p>
        <button class="product-price" type="button">54 UAH</button>
      </div>
    </li>
  </ul>
</section>
