<!-- ========== Subscribe section -->
<section class="subscribe">
  <div class="container subscribe-container">
    <h2 class="subscribe-headline">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe-desc">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="subscribe-btn" type="button">Subscribe</button>
  </div>
</section>

<!--===== Subscribe Modal Window =====-->
<!-- <div class="subscribe-backdrop">
  <div class="subscribe-modal">
    <button class="subscribe-modal-close-btn">
      <svg class="subscribe-modal-close-icon" width="20" height="20">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div> -->
