
    <section class="container top-sellers">
        <h2 class="top-sellers-subscribe">Top 
           <span class="tsellers-sub">Sellers</span></h2>
        
           <ul class="tsellers-list-mobile">
            <li class="tsellers-item">
                <picture>
                    <source
                        media="(min-width: 1200px)"
                        srcset="../img/top-sellers/img1-desktop.jpg 1x, ../img/top-sellers/img1-desktop@2x.jpg 2x"
                        type="image/jpg"
                    />
                    <source
                         media="(min-width: 768px)"
                         srcset="../img/top-sellers/img1-tablet.jpg 1x, ../img/top-sellers/img1-tablet@2x.jpg 2x"
                        type="image/jpg"
                    />
                    <source
                         media="(max-widht: 375px)"
                         srcset="../img/top-sellers/img1-mobile.jpg 1x, ../img/top-sellers/img1-mobile@2x.jpg 2x"
                         type="image/jpg"
                         />
                    <img class="img-tsellers" 
                         src="../img/top-sellers/img1-mobile.jpg" alt="chocolate"
                         width=" "
                         height=" "> 
                </picture>

                <p class="tsellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>

            </li>

            <li class="tsellers-item">
                <picture>
                    <source
                    media="(min-width: 1200px)"
                    srcset="../img/top-sellers/img2-desktop.jpg 1x, ../img/top-sellers/img2-desktop@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/top-sellers/img2-tablet.jpg 1x, ../img/top-sellers/img2-tablet@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <source
                    media="(max-widht: 375px)"
                    srcset="../img/top-sellers/img2-mobile.jpg 1x, ../img/top-sellers/img2-mobile@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <img class="img-tsellers" 
                      src="../img/top-sellers/img2-mobile.jpg" alt="chocolate"
                      width=" "
                      height=" "> 
                </picture>

                <button class="btn-orange">Buy now</button>

            </li>
   
           <ul class="tsellers-list other-skr">
            <li class="tsellers-item">
                <picture>
                    <source
                        media="(min-width: 1200px)"
                        srcset="../img/top-sellers/img1-desktop.jpg 1x, ../img/top-sellers/img1-desktop@2x.jpg 2x"
                        type="image/jpg"
                    />
                    <source
                         media="(min-width: 768px)"
                         srcset="../img/top-sellers/img1-tablet.jpg 1x, ../img/top-sellers/img1-tablet@2x.jpg 2x"
                        type="image/jpg"
                    />
                    <source
                         media="(max-widht: 375px)"
                         srcset="../img/top-sellers/img1-mobile.jpg 1x, ../img/top-sellers/img1-mobile@2x.jpg 2x"
                         type="image/jpg"
                         />
                    <img class="img-tsellers" 
                         src="../img/top-sellers/img1-mobile.jpg" alt="chocolate"
                         width=" "
                         height=" "> 
                </picture>
            </li>

            <li class="tsellers-item">
                <picture>
                    <source
                    media="(min-width: 1200px)"
                    srcset="../img/top-sellers/img2-desktop.jpg 1x, ../img/top-sellers/img2-desktop@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/top-sellers/img2-tablet.jpg 1x, ../img/top-sellers/img2-tablet@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <source
                    media="(max-widht: 375px)"
                    srcset="../img/top-sellers/img2-mobile.jpg 1x, ../img/top-sellers/img2-mobile@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <img class="img-tsellers" 
                      src="../img/top-sellers/img2-mobile.jpg" alt="chocolate"
                      width=" "
                      height=" "> 
                </picture>
            </li>

            <li class="tsellers-item tsellers-item-desktop">
                <picture>
                    <source
                    media="(min-width: 1200px)"
                    srcset="../img/top-sellers/img3-desktop.jpg 1x, ../img/top-sellers/img3-desktop@2x.jpg 2x"
                    type="image/jpg"
                    />
                    <img class="img-tsellers" 
                    src="../img/top-sellers/img3-desktop.jpg" alt="chocolate"
                    width=" "
                    height=" "> 
                </picture>
              
            </li>
        </ul>
        <div class="tsellers other-skr">
            <p class="tsellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="btn-orange">Buy now</button>
        </div>
    </section>
