<section class="components">
  <div class="container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-orange">TASTE</span> SENSATION
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="components-card">
        <picture>
          <source
            srcset="
              ./img/unique-components/chocolate-desktop.jpg    1x,
              ./img/unique-components/chocolate-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/unique-components/chocolate-mobile-tablet.jpg    1x,
              ./img/unique-components/chocolate-mobile-tablet@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/unique-components/chocolate-mobile-tablet.jpg"
            alt="Milk Chokolate"
          />
        </picture>
      </li>
      <li class="components-card"></li>
      <li class="components-card"></li>
      <li class="components-card"></li>
    </ul>
  </div>
</section>
