.hero > .container {
  max-width: 335px;
  padding-top: 395px;
  padding-bottom: 20px;

  border-radius: 30px;

  background-image: url(../img/hero/bg_hero_mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero > .container {
    background-image: url(../img/hero/bg_hero_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero > .container {
    max-width: 704px;
    padding-top: 671px;

    background-image: url(../img/hero/bg_hero_tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero > .container {
      background-image: url(../img/hero/bg_hero_tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero > .container {
    max-width: 1136px;
    padding-top: 381px;

    background-image: url(../img/hero/bg_hero_desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-reolution: 2dppx) {
    .hero > .container {
      background-image: url(../img/hero/bg_hero_desktop@2x.jpg);
    }
  }
}

.hero-title {
  margin-bottom: 32px;

  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.hero-btn-list {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-scroll-btn {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-scroll-label {
  color: var(--white-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
}

/* .hero-btn {
  padding: 12px 28px;

  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  background-color: var(--secondary-color);
  border: none;
  border-radius: 100px;
}

.transparent-btn {
  background-color: transparent;
  border: 1px solid var(--white-color);
} */
