.how-made-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

@media only screen and (min-width: 768px) {
  .how-made-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }
}

.how-made-title-second {
  color: #fd9222;
}

.how-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media only screen and (min-width: 1200px) {
  .how-container-flex {
    flex-direction: row;
    justify-content: center;
  }
}

.how-made-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 15px;
  margin: 0 auto;
}

.how-made-try {
  padding: 20px 14px;

  background: #ffffff;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .how-made-try {
    width: 614px;
    padding: 32px 32px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .how-made-try {
    width: 516px;
  }
}

.how-made-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
}

@media only screen and (min-width: 1200px) {
  .how-made-subtitle {
    margin-bottom: 28px;
  }
}

.how-made-list {
  padding-left: 16px;
}

.how-made-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;

  color: #111111;

  position: relative;
}

.how-made-item:not(:last-child) {
  margin-bottom: 18px;
}

.how-made-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: -16px;

  background: #4c4c4c;
  border: 1px solid #dddddd;
  border-radius: 50%;
}
