:root {
  --primary-color: #111111;
  --secondary-color: #fd9222;
  --bg-color-site: #fafafa;
  --bg-color-section: #1e1823;
  --white-color: #ffffff;
  --accent-orange-btn: #fcf1e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ======= Common styles ======= */
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-color-site);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn-orange {
  min-width: 120px;
  min-height: 41px;
  padding: 12px 28px;
  border: none;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);

  background: var(--secondary-color);
  border-radius: 100px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-orange {
    min-width: 144px;
    min-height: 45px;
    padding: 14px 40px;
  }
}

.btn-orange:hover,
.btn-orange:focus {
  color: var(--secondary-color);
  background-color: var(--accent-orange-btn);
}

.btn-dark {
  min-width: 159px;
  min-height: 41px;
  padding: 12px 26px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);

  border: 1px solid var(--white-color);
  border-radius: 100px;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-dark {
    min-width: 183px;
    min-height: 45px;
    padding: 14px 40px;
  }
}

.btn-dark:hover,
.btn-dark:focus {
  color: var(--secondary-color);
  background-color: var(--white-color);
  border-color: var(--secondary-color);
}

.btn-light {
  min-width: 165px;
  min-height: 41px;
  padding: 12px 26px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--primary-color);

  border: 1px solid var(--secondary-color);
  border-radius: 100px;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-light {
    min-width: 222px;
    min-height: 50px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.btn-light:hover,
.btn-light:focus {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.btn-subscribe {
  min-width: 128px;
  min-height: 41px;
  padding: 12px 26px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--primary-color);

  border-radius: 100px;
  background-color: var(--secondary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-subscribe {
    min-width: 172px;
    min-height: 50px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  color: var(--secondary-color);
  background-color: var(--accent-orange-btn);
}

.instagram,
.twitter {
  fill: none;
  stroke: black;
}
.close {
  stroke: black;
}
