.subscribe {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/subscribe/subcribe-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/subscribe/subcribe-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 375px) {
  .subscribe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/subscribe/subcribe-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/subscribe/subcribe-tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) {
  .subscribe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/subscribe/subcribe-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/subscribe/subcribe-desktop@2x.jpg);
    }
  }
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 62px 0;
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    padding: 72px 0;
  }
}

.subscribe-headline {
  width: 291px;
  margin: 0 auto;
  color: var(--white-color);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .subscribe-headline {
    width: 378px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.subscribe-desc {
  width: 326px;
  margin: 0 auto;
  text-align: center;
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .subscribe-desc {
    width: 467px;
  }
}

.subscribe-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  padding: 12px 28px;
  border: none;
  width: 128px;
  height: 41px;
  border-radius: 100px;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .subscribe-btn {
    width: 172px;
    height: 50px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-orange-btn);
}
