.subscribe {
  max-width: 1200px;
  margin: 0 auto;
}

.subscribe-headline {    
    font-size: 20px;
    line-height 1.2;
    line-height: 98%
    letter-spacing: -0.03em;
}

/* ==========  Warehouse ==========*/

/* font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em; */

/* .hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero_mob@1x.webp);
  padding: 112px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

