
.container {
    padding: 0 20px;
    min-width: 320px;
    max-width: 375px;
}

@media only screen and (min-width: 768px) {
    .container {
     padding: 0 32px;
  }
}

@media only screen and (min-width: 1200px) {
    .container {
   max-width: 1440px;
  }
}

/* .top-sellers {

} */
.top-sellers-subscribe {
    font-weight: 600;
    font-size: 20px;
    line-height:1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FD9222;

}
.tsellers-sub {
    color: #111;
}
/* .tsellers-list{

} */
.tsellers-item {
border-radius: 15px;
}

.tsellers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29; 
    letter-spacing: -0.02em;
    color: #111111; 
}
.button-tsellers {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 28px;
gap: 14px;

width: 120px;
height: 41px;

background: #FD9222;
border-color: #FD9222;
border-radius: 100px;

font-weight: 600;
font-size: 14px;
line-height: 1.2;

color: #fff ;
}