.components-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.components-title-orange {
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .components-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 411px;
    margin-bottom: 28px;
  }
}

.components-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .components-text {
    max-width: 486px;
    margin-bottom: 50px;
  }
}
